node_modules
# Simpler to track for now
# dist
storybook-static
bun.lock
package-lock.json
## Panda

# I'm tracking the styled-system to import components through git
# styled-system
styled-system-studio
